---
import AppBar from '../components/AppBar.astro';
let title = 'Home';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/jpg" href="/favicon.jpg">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&family=Poppins:wght@600;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e7aebeadc5.js" crossorigin="anonymous"></script>

    <style lang="scss">
        .left-bg, .right-bg {
            position: absolute;
            width: 150px;
        }

        @media only screen and (max-width: 800px){
            div.hero-content { width: 80%; }
            .left-bg, .right-bg { display: none; }
        }

        .left-bg { left: 0; bottom: 0; }

        .right-bg { right: 0; top: 17%; }

        div.hero {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        div.hero-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            position: relative;
            transform: translateY(22px);

            h1, div.subtext {
                text-align: center;
                span { color: var(--primary-color); }
            }

            div.subtext {
                font-size: clamp(14px, 3rem, 1.2vw);
            }

            h1 {
                margin: 30px 0;
                font-size: clamp(28px, 16rem, 3.2vw);
            }
        }

        div.button-list {
            margin-top: 60px;
            display: flex;
            align-items: center;
            
            div {
                margin: 0 1.5rem;
                cursor: pointer;
                font-family: 'IBM Plex Mono', monospace;
                border: none;
                border-radius: 5px;
                font-size: clamp(12px, 1rem, 30vw) !important;

                i { margin-right: 8px; }
                a { 
                    text-decoration: none; 
                }
            }

            div.view-proj {
                background-color: var(--primary-color);
                color: var(--background-color);
                display: flex;

                a { padding: 14px 20px; }
            }

            .linkedin, .github { background-color: transparent; }
            .linkedin { color: #287CFA; }
        }

        @media only screen and (max-width: 900px){
            div.button-list {
                flex-direction: column;
                margin-top: 30px;
                div { margin: 0.5rem 0; }
            }
        }

        @media only screen and (max-width: 600px) {
            div.hero-content { width: 90%; }
        }
    </style>
</head>
<body>
    <div class="app-bar" > <AppBar /> </div>
    <img src="/assets/left.svg" alt="" class="left-bg" />
    <img src="/assets/right.svg" alt="" class="right-bg" >

    <div class="hero">
        <div class="hero-content">
            <h1>I help to achieve automation of <span>workflow </span> and the <span>Infrastructure </span></h1>
            <div class="mono subtext">
                I am <span>Meher Chaitanya.</span> DevOps, Cloud, Web Developer
            </div>

            <div class="button-list">
                <div class="view-proj"><a href="./projects"> View Projects</a></div>
                <div class="linkedin"><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/meher-chaitanya-341567193">LinkedIn</a></div>
                <div class="github"> <i class="fab fa-github"></i><a href="https://github.com/smc181002">Github</a></div>
            </div>
        </div>
    </div>
</body>
</html>
